@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    font-family: sans-serif;
    font-size: 17px;
    margin: 0;
    display: flex;
    height: 100vh;
}

.container {
    position: absolute;
    top: 95px;
    left: 58%;
}

.avance {
    align-items: center;
    padding: 13px;
    justify-content: center;
    width: 98%;
    border: none;
    color: #bfbfbf;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}


input {
    width: 92%;
    height: 20px;
    padding: 10px;
    border-radius: 7px;
    background-color: #f8f8f8;
    border: none;
    border-bottom: 1px solid #b5b4b4;
    font-family: Helvetica;
    font-size: 15px;
    color: #bfbfbf;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #0c1bec;
}

.imag {
    margin: auto;
    display: flex;
    position: relative;
    top: -60px;
    width: 47px;
}


.se {
    font-size: 12px;
    margin-bottom: 5px;
}

.font {
    font-weight: 90;
    height: 45px;
}

.roda {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 270px;
    color: rgb(181, 181, 181);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rodape {
    padding: 12px;
    border-radius: 27px;
    width: 98%;
    color: rgb(19, 81, 180);
    border: none;
    border: 1px solid rgb(19, 81, 180);
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
}